
<%= stylesheet_link_tag "style.css" %>

<h1>My Blog!!</h1>


 
 <%= link_to 'Create a New Article Here!', new_article_path %>
 
 
 
 <table>
   <tr>
    <th>Title & Link</th>
    <th>Text</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
 
 <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article_path(article) %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  
</table>



<%= link_to 'Back to the Top!', articles_path %>
