
<p></p>
<p>Create a New Article</p>
<p></p>

<%= form_for :article, url: articles_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<p></p>
<p>----------</p>
<p></p>


<%= link_to 'Back to Articles List', articles_path %>
